.banner {
  font-family: "Google Sans", sans-serif;
  background-color: #003d00;
  padding: 1rem;
  height: 90vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .adva-badge {
  background-color: beige;
  border-radius: 1rem;
  color: #003d00;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.adva-badge-arrow {
  fill: beige;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #007200;
}

.banner h1 {
  text-align: center;
  font-size: 3.5rem;
}

.banner p {
  text-align: center;
  font-size: 1.8rem;
}

.banner hr {
  border: none;
  height: 1px;
  width: 30%;
  background-color: beige;
}

.banner h1,
.banner p {
  color: #fff;
}

.banner-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner-options .contact-us-btn {
  border: none;
  display: flex;
  padding: 0.3rem;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
  background: none;
  color: beige;
  padding: 0.9rem 1rem;
  border: 2px solid beige;
  font-size: 1.2rem;
}
