.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: lightgray;
  padding: 10px 18px;
  background-color: var(--adva-light);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.menu .hamburger {
  fill: var(--adva-primary);
  width: 40px;
  height: 40px;
  display: none;
}

.menu .hamburger:hover {
  fill: var(--adva-secondary);
}

.menu .logo {
  fill: var(--adva-primary);
  width: 50px;
  height: 40px;
}

.menu .logo:hover {
  fill: var(--adva-secondary);
}

.menu .logo-link {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.3rem;
  color: var(--adva-primary);
  padding: 12px 10px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  color: var(--adva-primary);
}
.menu .hamburger:hover,
.menu .logo-link:hover,
.navbar-links li a:hover {
  color: var(--adva-secondary);
  background-color: beige;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .menu .hamburger {
    display: block;
  }

  .menu .logo {
    display: none;
  }

  .navbar-links {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* display: none; */
    width: 100%;
  }

  .navbar-links li,
  .navbar-links li a {
    width: 100%;
  }
}
